body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #34495e;
}

nav a:hover {
    background-color: #2c3e50;
}

section {
    padding: 20px;
    text-align: center;
}

.hero-image {
    background-image: url('coffee.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
    color: white;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Style for product container */
.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #9b6d6d;
}

/* Style for product image */
.product img {
    width: 150px;
    height: 100px;
}


/* Style for product title */
.product h3 {
    margin-top: 0;
}

/* Style for product description */
.product p {
    margin-bottom: 10px;
}

/* Style for product price */
.product p.price {
    font-weight: bold;
    color: #333; /* Adjust the color of the price */
}

/* Style for add to cart button */
.product button {
    padding: 10px 20px;
    background-color: #34495e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #2c3e50;
}