* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #5f2300;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation styles */
nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #993f0b;
    transition: background-color 0.3s ease;
} 
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
  
.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
  
.product-container img {
    width: 200px;
    height: 200px;
}



.buy-now-button {
    padding: 10px 20px;
    background-color: #993f0b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.buy-now-button:hover {
    background-color: #c2500e;
}

.hero-image {
    background-image: url('/public/coffee1.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text {
    color: white;
}